{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>E-Pariksha</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="{% static 'tester/images/favicon.ico' %}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{% static 'tester/images/apple-touch-icon.png' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'tester/css/bootstrap.min.css' %}">
<!-- Site CSS -->
<link rel="stylesheet" href="{% static 'tester/style.css' %}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="{% static 'tester/css/versions.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'tester/css/responsive.css' %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'tester/css/custom.css' %}">

<!-- Modernizer for Portfolio -->
<script src="{% static 'tester/js/modernizer.js' %}"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="host_version">


	<!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->

	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="">
					<img src="{% static 'tester/images/logo.png' %}" alt="" />E-PARIKSHA
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
					aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="about">About Us</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Course
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="course-grid-2">Course Grid 2 </a>
								<a class="dropdown-item" href="course-grid-3">Course Grid 3 </a>
								<a class="dropdown-item" href="course-grid-4">Course Grid 4 </a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Blog
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="blog">Blog </a>
								<a class="dropdown-item" href="blog-single">Blog single </a>
							</div>
						</li>

						<li class="nav-item active"><a class="nav-link" href="contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->



	<div id="contact" class="section wb">
		<div class="container">
			<div class="section-title text-center">
				<h3>Need Help? Sure we are Online!</h3>
				<p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, magnam. <br>Lorem ipsum
					dolor sit amet consectetur adipisicing elit. Nam, sunt.</p>
			</div><!-- end title -->

			<div class="row">
				<div class="col-xl-6 col-md-12 col-sm-12  style=border-radius:30%;">
					<div class="contact_form">
						<div id="message"></div>
						<form id="contactform" method="post">
							<div class="row row-fluid">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input type="text" name="first_name" id="first_name" class="form-control"
										placeholder="First Name">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input type="text" name="last_name" id="last_name" class="form-control"
										placeholder="Last Name">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input type="email" name="email" id="email" class="form-control"
										placeholder="Your Email">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input type="text" name="phone" id="phone" class="form-control"
										placeholder="Your Phone">
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<textarea class="form-control" name="comments" id="comments" rows="6"
										placeholder="Give us more details.."></textarea>
								</div>
								<div class="text-center pd">
									<button type="submit" value="SEND" id="submit"
										class="btn btn-light btn-radius btn-brd grd1 btn-block">Get a Quote</button>
								</div>
							</div>
						</form>
					</div>
				</div><!-- end col -->
				<div class="col-xl-6 col-md-12 col-sm-12">

					<img src="{% static 'tester/images/contact.jpg' %}" alt="" class="img-fluid" style="height: 495px; border-radius:30%;">

				</div>
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
	</div><!-- end section -->


	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-xs-12">
					<div class="widget clearfix">
						<div class="widget-title">
							<h3>About US</h3>
						</div>
						<p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
							bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis
							dis montes.</p>
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>
					</div><!-- end clearfix -->
				</div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
					<div class="widget clearfix">
						<div class="widget-title">
							<h3>Information Link</h3>
						</div>
						<ul class="footer-links">
							<li><a href="#">Home</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Video</a></li>

						</ul><!-- end links -->
					</div><!-- end clearfix -->
				</div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
					<div class="widget clearfix">
						<div class="widget-title">
							<h3>Contact Details</h3>
						</div>

						<ul class="footer-links">
							<li><a href="mailto:#">info@yoursite.com</a></li>
							<li><a href="#">www.yoursite.com</a></li>
							<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nam.</li>

						</ul><!-- end links -->
					</div><!-- end clearfix -->
				</div><!-- end col -->

			</div><!-- end row -->
		</div><!-- end container -->
	</footer><!-- end footer -->


	<div class="copyrights">
		<div class="container">
			<div class="footer-distributed">
				<div class="footer-center">
					<p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">E-Pariksha</a>
						<a href="#">Your Online System</a></p>
				</div>
			</div>
		</div><!-- end container -->
	</div><!-- end copyrights -->

	<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="{% static 'tester/js/all.js' %}"></script>
	<!-- ALL PLUGINS -->
	<script src="{% static 'tester/js/custom.js' %}"></script>

</body>

</html>