{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>E-Pariksha</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="{% static 'tester/images/favicon.ico' %}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{% static 'tester/images/apple-touch-icon.png' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'tester/css/bootstrap.min.css' %}">
<!-- Site CSS -->
<link rel="stylesheet" href="{% static 'tester/style.css' %}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="{% static 'tester/css/versions.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'tester/css/responsive.css' %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'tester/css/custom.css' %}">
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    form {
        width: 500px;
        margin: 0 auto;
        background: rgb(240, 240, 240);
        padding: 25px;
        border-radius: 20px;
    }

    .question {
        margin-top: 25px;
    }

    input[type="submit"] {
        display: block;
        border: 0;
        padding: 1em 2em;
        background: tomato;
        border-radius: 2px;
        outline: none;
        color: #fff;
        font-weight: 700;
        font-size: .75em;
    }
</style>

<!-- Modernizer for Portfolio -->
<script src="{% static 'tester/js/modernizer.js' %}"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="\">
                <img src="{% static 'tester/images/logo.png' %}" alt="" />E-PARIKSHA
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
                aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="\">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="about">About Us</a></li>
						<li class="nav-item dropdown"><a class="nav-link" href="">Test</a></li>						
						{% if user.is_authenticated %}
							<li class="nav-item"><a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
							<li class="nav-item"><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
							<li class="nav-item"><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
						{% else %}
							<li class="nav-item"><a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
							<li class="nav-item"><a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
						{% endif %}


                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->
<div class="alert alert-dark alert-dismissible fade show" role="alert">
    <h1 class="alert-heading">Get Ready!</h1>
    <h2>Good Luck, For Your Exam </h2>

    <hr>
    <p class="mb-0">Give Your Best Shot On It. We Are Confident That You Can Make It!</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form name="form" class="question one" method='post'>
    {% csrf_token %}
    <input type="hidden" name='key' value="{{key}}">

    

    {% if testQnA %}
        <p><strong>{{ testQnA.question_1 }}</strong></p>
        <div class="form-group">
            <input name='answer_1' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_2 }}</strong></p>
        <div class="form-group">
            <input name='answer_2' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_3 }}</strong></p>
        <div class="form-group">
            <input name='answer_3' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_4 }}</strong></p>
        <div class="form-group">
            <input name='answer_4' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_5 }}</strong></p>
        <div class="form-group">
            <input name='answer_5' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_6 }}</strong></p>
        <div class="form-group">
            <input name='answer_6' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_7 }}</strong></p>
        <div class="form-group">
            <input name='answer_7' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_8 }}</strong></p>
        <div class="form-group">
            <input name='answer_8' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_9 }}</strong></p>
        <div class="form-group">
            <input name='answer_9' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
        <p><strong>{{ testQnA.question_10 }}</strong></p>
        <div class="form-group">
            <input name='answer_10' type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Enter Your Answer Here">
        </div>
    {% endif %}
    {% if testMCQ25 %}
        <div class="question ">
            <p><strong>{{ testMCQ25.question_1 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_1_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_1_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_1_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_1_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_2 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_2_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_2_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_2_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_2_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_3 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_3_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_3_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_3_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_3_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_4 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_4_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_4_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_4_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_4_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_5 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_5_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_5_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_5_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_5_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_6 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_6_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_6_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_6_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_6_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_7 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_7_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_7_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_7_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_7_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_8 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_8_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_8_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_8_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_8_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_9 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_9_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_9_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_9_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_9_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_10 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_10_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_10_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_10_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_10_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_11 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_11_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_11_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_11_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_11_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_12 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_12_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_12_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_12_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_12_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_13 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_13_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_13_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_13_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_13_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_14 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_14_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_14_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_14_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_14_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_15 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_15_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_15_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_15_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_15_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_16 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_16_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_16_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_16_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_16_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_17 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_17_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_17_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_17_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_17_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_18 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_18_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_18_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_18_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_18_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_19 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_19_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_19_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_19_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_19_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_20 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_20_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_20_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_20_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_20_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_21 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_21_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_21_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_21_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_21_d }}</label>
        </div>
        
        <div class="question ">
            <p><strong>{{ testMCQ25.question_22 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_22_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_22_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_22_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_22_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_23 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_23_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_23_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_23_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_23_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_24 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_24_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_24_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_24_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_24_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ25.question_25 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ25.option_25_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ25.option_25_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_25_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ25.option_25_d }}</label>
        </div>

    {% endif %}
    {% if testMCQ10 %}
        <div class="question ">
            <p><strong>{{ testMCQ10.question_1 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_1_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_1_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_1_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_1_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_2 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_2_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_2_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_2_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_2_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_3 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_3_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_3_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_3_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_3_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_4 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_4_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_4_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_4_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_4_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_5 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_5_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_5_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_5_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_5_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_6 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_6_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_6_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_6_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_6_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_7 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_7_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_7_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_7_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_7_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_8 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_8_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_8_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_8_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_8_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_9 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_9_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_9_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_9_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_9_d }}</label>
        </div>
        <div class="question ">
            <p><strong>{{ testMCQ10.question_10 }}</strong></p>
            <input type="radio"><label for="first">{{ testMCQ10.option_10_a }}</label><br>
            <input type="radio"><label for="second">{{ testMCQ10.option_10_b }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_10_c }}</label><br>
            <input type="radio"><label for="third">{{ testMCQ10.option_10_d }}</label>
        </div>
    {% endif %}



    <input type="submit" value="SUBMIT">
</form>
<br>
<br>
<br>






<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>About US</h3>
                    </div>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed
                        tellus
                        faucibus
                        bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque
                        penatibus et
                        magnis
                        dis montes.</p>
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul><!-- end links -->
                    </div>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Video</a></li>

                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">info@yoursite.com</a></li>
                        <li><a href="#">www.yoursite.com</a></li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nam.
                        </li>

                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">
                <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">E-Pariksha</a>
                    <a href="#">Your Online System</a></p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="{% static 'tester/js/all.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'tester/js/custom.js' %}"></script>

</body>

</html>